[Desktop Entry]
X-SnapInstanceName=kicad-no-icon
Version=1.0
Terminal=false
Type=Application
Categories=Science;Electronics;
X-SnapAppName=kicad
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/kicad_kicad.desktop /snap/bin/kicad %f
StartupWMClass=kicad
Keywords=Projectmanager;
MimeType=application/x-kicad-project;
Name=KiCad-no-icon
GenericName=EDA Suite
Comment=Suite of tools for schematic design and circuit board layout
