[Desktop Entry]
X-SnapInstanceName=kicad
Version=1.0
Terminal=false
Icon=kicad.svg
Type=Application
Categories=Science;Electronics;
X-SnapAppName=kicad
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/kicad_kicad.desktop /snap/bin/kicad %f
StartupWMClass=kicad
Keywords[ca]=Cap de Projecte;
Keywords[cs]=Manažer projektu;
Keywords[de]=Projektverwaltung;
Keywords[el]=Projectmanager;
Keywords[en]=Projectmanager;
Keywords[es]=Projectmanager;Administrador;Proyecto;
Keywords[es_MX]=Projectmanager;
Keywords[fi]=Projektinhallinta;
Keywords[fr]=Projectmanager;
Keywords[hu]=Projektmenedzser;
Keywords[it]=Gestione progetto;
Keywords[ja]=Projectmanager;
Keywords[ko]=프로젝트 관리자;
Keywords[nl]=Projectbeheer;
Keywords[pl]=Menedżerprojektu;
Keywords[pt]=Projectmanager;
Keywords[pt_BR]=Projectmanager;
Keywords[ro]=Manager de Proiect;
Keywords[ru]=Projectmanager;
Keywords[sk]=Manažér projektu;
Keywords[sv]=Projekthanterare;
Keywords[uk]=Менеджер проєкту;
Keywords[vi]=Quản lý dự án;
Keywords[zh_CN]=Projectmanager;
Keywords[zh_TW]=Projectmanager;
Keywords=Projectmanager;
MimeType=application/x-kicad-project;
Name[ca]=KiCad
Name[cs]=KiCad
Name[de]=KiCad
Name[el]=KiCad
Name[en]=KiCad
Name[es]=KiCad
Name[es_MX]=KiCad
Name[et]=KiCad
Name[fi]=KiCad (ohjelma)
Name[fr]=KiCad
Name[hu]=KiCad
Name[id]=KiCad
Name[it]=KiCad
Name[ja]=KiCad
Name[ko]=키캐드
Name[nl]=KiCad
Name[no]=KiCad
Name[pl]=KiCad
Name[pt]=KiCad
Name[pt_BR]=KiCad
Name[ro]=KiCad
Name[ru]=KiCad
Name[sk]=KiCad
Name[sr]=KiCad
Name[sv]=KiCad
Name[th]=คีแคด
Name[tr]=KiCad
Name[uk]=KiCad
Name[vi]=KiCad
Name[zh_CN]=KiCad
Name[zh_TW]=KiCad
Name=KiCad
GenericName[cs]=EDA Suite
GenericName[de]=EDA Suite
GenericName[el]=Σουίτα EDA
GenericName[en]=EDA Suite
GenericName[es]=Suite EDA
GenericName[es_MX]=Suite EDA
GenericName[et]=EDA Suite
GenericName[fi]=EDA Paketti
GenericName[fr]=Suite CAO Electronique
GenericName[it]=Suite EDA
GenericName[ja]=EDAスイート
GenericName[ko]=EDA 제품군
GenericName[nl]=EDA-suite
GenericName[pl]=Zestaw oprogramowania EDA
GenericName[pt]=Conjunto de ferramentas EDA
GenericName[pt_BR]=Conjunto de ferramentas EDA
GenericName[ru]=САПР
GenericName[sk]=EDA Suite
GenericName[sv]=EDA-svit
GenericName[th]=ชุดเครื่องมือ EDA
GenericName[tr]=EDA Paketi
GenericName[uk]=EDA Suite
GenericName[zh_CN]=EDA 套件
GenericName[zh_TW]=EDA 套件
GenericName=EDA Suite
Comment[cs]=Sada nástrojů pro návrh schématu a desek s plošnými spoji
Comment[de]=Werkzeugsammlung für Schaltplanentwurf und Leiterplattenlayout
Comment[el]=Σουίτα εργαλείων για σχηματικό σχεδιασμό και διάταξη πλακέτας
Comment[en]=Suite of tools for schematic design and circuit board layout
Comment[es]=Conjunto de herramientas para el diseño de esquemas y de placas de circuitos
Comment[es_MX]=Conjunto de herramientas para el diseño de esquemas y de placas de circuitos
Comment[fi]=Paketti työkaluja kytkentäkaavio- ja piirilevysuunnitteluun
Comment[fr]=Suite d’outils pour la conception schématique et des circuits imprimés
Comment[it]=Suite per la progettazione di schemi elettrici e circuiti stampati
Comment[ja]=回路図設計と基板レイアウトのためのツール群
Comment[ko]=회로도 디자인 및 회로 기판 레이아웃을 위한 도구 모음
Comment[nl]=Suite van tools voor het tekenen van schema’s en printplaatontwerp
Comment[pl]=Zestaw narzędzi do projektowania schematów i płytek drukowanych
Comment[pt]=Um conjunto de ferramentas para fazer o desenho esquemático e o layout de placa de circuito impresso
Comment[pt_BR]=Um conjunto de ferramentas para fazer o desenho esquemático e o layout de placa de circuito impresso
Comment[ru]=Комплекс инструментов для составления схем и трассировки печатных плат
Comment[sv]=Svit av verktyg för schema- och kretskortsdesign
Comment[th]=ชุดเครื่องมือสำหรับออกแบบวงจรและออกแบบวงจรพิมพ์
Comment[uk]=Набір інструментів для схемного проектування та компонування друкованих плат
Comment[zh_CN]=用于原理图设计和电路板布局的工具套件
Comment[zh_TW]=用於原理圖設計和電路板佈局的工具套件
Comment=Suite of tools for schematic design and circuit board layout

