[Desktop Entry]
X-SnapInstanceName=simple-scan
Name[af]=Dokument Skandeerder
Name[am]=ሰነድ ማሰሻ
Name[ar]=ماسح المستندات
Name[ast]=Escáner de documentos
Name[be]=Сканер дакументаў
Name[bg]=Сканиране на документи
Name[ca]=Escàner de documents
Name[ca@valencia]=Escàner de documents
Name[cs]=Skenování dokumentů
Name[da]=Dokumentskanner
Name[de]=Dokument-Scanner
Name[el]=Σαρωτής εγγράφων
Name[en_GB]=Document Scanner
Name[eo]=Dokumentoskanilo
Name[es]=Escáner de documentos
Name[eu]=Dokumentuen eskanerra
Name[fa]=پویشگر پرونده
Name[fi]=Asiakirjaskanneri
Name[fr]=Numériseur de documents
Name[fur]=Scansionadôr di document
Name[gd]=Sganair sgrìobhainnean
Name[gl]=Escáner de documentos
Name[he]=סורק מסמכים
Name[hr]=Skener dokumenta
Name[hu]=Szkenner
Name[hy]=Փաստաթղթի սկան
Name[id]=Pelarik Dokumen
Name[ie]=Scannator de documentes
Name[is]=Skjalaskanni
Name[it]=Acquisizione documenti
Name[ja]=ドキュメントスキャナー
Name[kk]=Құжат сканері
Name[km]=ម៉ាស៊ីនស្កេនឯកសារ
Name[ko]=문서 스캐너
Name[lt]=Dokumentų skeneris
Name[lv]=Dokumentu skenētājs
Name[mjw]=Document Scanner
Name[ml]=ഡോക്യുമെന്റ്‌ സ്കാനർ
Name[ms]=Pengimbas dokumen
Name[nb]=Dokumentskanner
Name[ne]=कागजात स्क्यानर
Name[nl]=Documentenscanner
Name[oc]=Numerizador de documents
Name[pa]=ਡੌਕੂਮੈਂਟ ਸਕੈਨਰ
Name[pl]=Skaner dokumentów
Name[pt_BR]=Digitalizador de documentos
Name[pt]=Digitalizador de documentos
Name[ro]=Scaner de documente
Name[ru]=Сканер документов
Name[sk]=Skener dokumentov
Name[sl]=Optični bralnik dokumentov
Name[sr]=Скенер за документе
Name[sr@latin]=Skener za dokumente
Name[sv]=Dokumentbildläsare
Name[th]=เครื่องสแกนเอกสาร
Name[tr]=Belge Tarayıcı
Name[uk]=Засіб для сканування документів
Name[zh_CN]=文档扫描仪
Name[zh_HK]=文件掃描器
Name[zh_TW]=文件掃描
Name=Document Scanner
Comment[be]=Зрабіце лічбавыя копіі сваіх фатаграфій і дакументаў
Comment[bg]=Създаване на цифров дубликат на снимки и документи
Comment[ca]=Feu una còpia digital de les vostres fotografies i documents
Comment[cs]=Udělejte si digitální kopie svých fotografií a dokumentů
Comment[da]=Lav en digital kopi af dine fotografier og dokumenter
Comment[de]=Eine digitale Kopie Ihrer Fotos und Dokumente erstellen
Comment[el]=Δημιουργήστε ένα ψηφιακό αντίγραφο των φωτογραφιών και των εγγράφων σας
Comment[en_GB]=Make a digital copy of your photos and documents
Comment[eo]=Krei ciferecan kopion de viaj fotaĵoj kaj dokumentoj
Comment[es]=Hacer una copia digital de sus fotos y documentos
Comment[eu]=Egin zure argazkien eta dokumentuen kopia digital bat
Comment[fa]=گرفتن یک رونوشت دیجیتالی از عکس‌ها و سندهایتان
Comment[fi]=Tee digitaalinen kopio kuvista ja asiakirjoista
Comment[fr]=Faites une copie numérique de vos photos et documents
Comment[fur]=Fâs une copie digjitâl des tôs fotos e dai tiei documents
Comment[gl]=Facer unha copia dixital das fotos e documentos
Comment[he]=יצירת עותק ממוחשב של התמונות והמסמכים שלך
Comment[hr]=Napravite digitalnu kopiju svojih fotografija i dokumenata
Comment[hu]=Készítsen digitális másolatot a fényképeiről és dokumentumairól
Comment[id]=Buat salinan digital dari foto dan dokumen Anda
Comment[ie]=Crear un digital copie de vor fotos e documentes
Comment[is]=Gerðu stafræn afrit af skjölum og myndum
Comment[it]=Crea una copia digitale delle proprie foto e documenti
Comment[ja]=写真と文書のデジタルコピーを作成します
Comment[kk]=Фотосуреттеріңіз бен құжаттарыңыздың цифрлық көшірмесін жасау
Comment[ko]=사진과 문서의 디지털 복사본 만들기
Comment[lt]=Sukurti jūsų nuotraukų bei dokumentų skaitmeninę kopiją
Comment[lv]=Izveidojiet digitālas kopijas jūsu fotogrāfijām un dokumentiem
Comment[nb]=Lag en digital kopi av dine bilder og dokumenter
Comment[ne]=तपाईँको फोटो र कागजातको डिजिटल प्रतिलिपि बनाउनुहोस्
Comment[nl]=Maak een digitale kopie van uw foto’s en documenten
Comment[oc]=Realizatz una còpia numerica de vòstras fòtos e documents
Comment[pa]=ਆਪਣੀਆਂ ਫ਼ੋਟੋ ਅਤੇ ਦਸਤਾਵੇਜ਼ਾਂ ਦੀ ਡਿਜ਼ੀਟਲ ਕਾਪੀ ਬਣਾਓ
Comment[pl]=Tworzenie cyfrowej kopii zdjęć i dokumentów
Comment[pt_BR]=Faça uma cópia digital de suas fotos e documentos
Comment[pt]=Faz uma digitalização de tuas fotos e documentos
Comment[ro]=Face o copie digitală a fotografiilor și documentelor
Comment[ru]=Делайте цифровые копии своих фотографий и документов
Comment[sk]=Vytvára digitálne kópie vašich fotografií a dokumentov
Comment[sl]=Priprava digitalnih kopij fotografij in dokumentov.
Comment[sr]=Направите дигиталне копије ваших фотографија и докумената
Comment[sv]=Gör en digital kopia av dina foton och dokument
Comment[tr]=Resim ve belgelerinizin sayısal kopyasını oluşturun
Comment[uk]=Створення цифрових копій ваших фотографій та документів
Comment[zh_CN]=将您的照片与文档数字化后保存在计算机里
Comment[zh_TW]=為您的照片或文件建立數位複本
Comment=Make a digital copy of your photos and documents
Keywords[af]=skandeer;skandeerder;platbed;adf;
Keywords[am]=ማሰሻ;ማሰሻ;ጠፍጣፋ;adf;
Keywords[ar]=scan;scanner;flatbed;adf;مسح;ماسحة;
Keywords[ast]=escanear;escáner;planu;adf;
Keywords[be]=сканіраванне;сканаванне;сканер;планшэт;adf;
Keywords[bg]=scan;scanner;flatbed;adf;скенер;сканиране;копие;копиране;плоскост;
Keywords[ca]=escanejar;escàner;pla;adf;
Keywords[ca@valencia]=escanejar;escàner;pla;adf;
Keywords[cs]=scan;skenovat;scanner;skener;flatbed;stolní;plochý;adf;podavač dokumentů;
Keywords[da]=scan;skan;scanner;skanner;flatbed;adf;
Keywords[de]=scan;einlesen;scanner;Flachbett;flatbed;AVW;Vorlagenwechsler;adf;
Keywords[el]=scan;scanner;flatbed;adf;σάρωση;σαρωτής;
Keywords[en_GB]=scan;scanner;flatbed;adf;
Keywords[eo]=skani;skanilo;plata;adf;
Keywords[es]=escanear;escáner;plano;adf;
Keywords[eu]=eskaneatu;eskanerra;eskanerreko_kristala;Dokumentu_elikatze_automatiko;
Keywords[fa]=scan;scanner;flatbed;adf;پویش;پویشگر;
Keywords[fi]=kuvanluku;skanneri;scan;scanner;flatbed;adf;simple;
Keywords[fr]=numériser;scanner;numériseur;à plat;adf;
Keywords[fur]=scansion;scanner;scansionadôr;plan;adf;
Keywords[gd]=scan;scanner;flatbed;adf;sganair;sganaich;sganadh;
Keywords[gl]=escanear;escáner;flatbed;adf;
Keywords[he]=סורק;סריקה;משטח;מזין דפים;
Keywords[hr]=skeniraj;skener;plosnat;adf;
Keywords[hu]=szkennelés;szkenner;beolvasó;síkágyas;adf;
Keywords[hy]=սկան;սկաներ;հարթակ;adf
Keywords[id]=scan;scanner;pelarik;pemindai;flatbed;adf;
Keywords[ie]=scan;scannator;scannar;flatbed;adf;
Keywords[is]=skanna;skanni;flatskanni;adf;matari;
Keywords[it]=scan;scanner;scansiona;adf;acquisizione;
Keywords[ja]=scan;scanner;flatbed;adf;スキャン;スキャナー;フラットベッド;オートドキュメントフィーダー;自動給紙装置;
Keywords[kk]=scan;scanner;flatbed;adf;сканерлеу;сканер;
Keywords[km]=ស្កេន;ម៉ាស៊ីនស្កេន;flatbed;adf;
Keywords[ko]=scan;스캔;scanner;스캐너;flatbed;평판 스캐너;adf;자동급지장치;
Keywords[lt]=skenuoti;nuskaityti;adf;skaitytuvas;skeneris;plokštuminis;
Keywords[lv]=skenēt;skeneris;plakanvirsma;adf;
Keywords[mjw]=scan;scanner;flatbed;adf;
Keywords[ml]=scan;scanner;flatbed;adf;
Keywords[ms]=imbas;pengimbas;rata;adf;
Keywords[nb]=skan;skanner;scan;scanner;planskanner;adf;
Keywords[ne]=स्क्यानर;स्क्यानर;समतल;adf;
Keywords[nl]=scan;scanner;flatbed;adf;
Keywords[oc]=numerizar;scanner;numerizador;a plat;adf;escanner;escanèr;
Keywords[pa]=ਸਕੈਨ;ਸਕੈਨਰ;ਆਟੋਮੈਟਿਕ ਡੌਕੂਮੈਂਟ ਫੀਡਰ;ਫਲੈਟਬੈਡ;
Keywords[pl]=skan;skanowanie;skaner;scan;scanner;flatbed;adf;
Keywords[pt_BR]=digitalizar;digitalizador;digitalização;vidro;alimentador;scan;scanner;scanner de mesa;scanner plano;flatbed;adf;
Keywords[pt]=digitalizar;digitalizador;tabuleiro de documentos;adf;
Keywords[ro]=scan;scanner;flatbed;adf;scaner;scana;
Keywords[ru]=сканировать;сканер;планшетный;автоподатчик;
Keywords[sk]=skenovanie;skenovať;skener;plochý;adf;
Keywords[sl]=optični bralnik;adf;podajalnik;skener;sken;
Keywords[sr]=scan;scanner;flatbed;adf;скенирање;скенер;копирање;skeniranje;skener;kopiranje;
Keywords[sr@latin]=scan;scanner;flatbed;adf;skeniranje;skener;kopiranje;skeniranje;skener;kopiranje;
Keywords[sv]=scan;scanner;flatbädd;adf;skan;skanner;bildläsare;
Keywords[th]=สแกน;สแกนเนอร์;flatbed;adf;
Keywords[tr]=tara;tarama;tarayıcı;düz yatak;flatbed;adf;
Keywords[uk]=scan;scanner;flatbed;adf;сканування;сканер;планшет;двобічне;автоматичне;
Keywords[zh_CN]=scan;scanner;flatbed;adf;扫描;扫描仪;
Keywords[zh_HK]=scan;scanner;flatbed;adf;
Keywords[zh_TW]=scan;scanner;flatbed;adf;
Keywords=scan;scanner;flatbed;adf;
X-SnapAppName=simple-scan
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/simple-scan_simple-scan.desktop /snap/bin/simple-scan
Icon=SimpleScan.svg
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Graphics;Scanning;

