[Desktop Entry]
Name=Snapd Desktop Integration
Comment=Integrates snapd and the desktop
Exec=snapd-desktop-integration
Terminal=false
Type=Application
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
NoDisplay=true
