[Desktop Entry]
Icon=snapd-desktop-integration.svg
Name=Snaps
Exec=/bin/false
Type=Application
DBusActivatable=true
X-GNOME-UsesNotifications=true
NoDisplay=true
